/* Slider Start */



.dev_dev_swiper{
    position: relative;
    top: 18vi;
    left: 8vi;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5vi;
    opacity: 0;

    transition: 0.5s ease-in-out transform, 1s ease-in-out opacity;

}

.dev_swiper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.4vi;
    
}

.dev_dev_swiper > button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.2vi 0.4vi;

    background-color: black;
    color: white;
    font-size: 3.5vi;
    border: 0.4vi solid white;
    border-radius: 0.5vi;
    
    outline: none;

    transition: 0.25s linear;
    transition-property: color, border-color, transform;
    cursor: pointer;
}

.dev_dev_swiper > button:hover{
    color: orange;
    border-color: orange;
}

.dev_dev_swiper > button:active{
    transform: scale(0.95);
}

.swiper{
    border: 1vi solid black;
    border-radius: 1.5vi;
    width: 60vi !important;
    height: fit-content;
}
.swiper-slide{
    width: 100% !important;
    height: 25vi;
}

.my_custom_pag{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 0.5vi;
}

.swiper-pagination-bullet{
    position: relative;
    background-color: rgb(55, 55, 55);
    padding: 0.35vi;
    outline: 0.2vi solid gray;
    outline-offset: 0.1vi;
    border-radius: 0.05vi;
    opacity: 1;

    transition: 0.25s ease-in-out;
    transition-property: background-color, outline-color;
}

.swiper-pagination-bullet-active{
    background-color: #F18D40;
    outline-color: #F18D40; 
}

.sliderIMg{
    width: 100%;
    height: 100%;
}


.swiperRef__active{
    opacity: 1;
    transform: translateY(-5vi);
}

/* Slider End */