:root{
    --orange: #F88C39;
    --grey: #9F9F9F;
}



#CardTwo{
    position: relative;
    background: url('https://www.projectmugen.com/pc/gw/20230811194459/assets/bg-decoration_283ee08f.png') no-repeat;
    background-position: top;
    background-size: cover;
    height: 57vi;

    overflow: hidden;
}

.cardId2{
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;

    display: flex;
    justify-content: center;
    align-items: center;
    
}

.numberIdentifier2{
    position: absolute;
    top: 12vi;
    right: -5vi;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    color: black;
    font-size: 6vi;
    opacity: 0;

    transition: 0.25s ease-in-out opacity, 0.25s ease-in-out transform;
    z-index: 10;
}
.numberIdentifier2__active{
    opacity: 1;
    transform: translateX(-10vi);
}

.numberIdentifier2 > p{
    position: relative;
    right: -5vi;
    margin-top: -6vi;
    font-size: 3vi;
    transition: 0.25s ease-in-out right;
}


.news-box-Div{
    position: absolute;
    top: 15vi;
    left: 10vi;    

    opacity: 0;
    z-index: 1;
    perspective: 1000px;

    transition: 0.5s ease-in-out transform, 0.5s ease-in-out opacity;
}
.news-box-Div__active{
    opacity: 1;
    transform: translateY(-5vi);
}

.news-box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    border: 0.5vi solid black;
    border-radius: 1vi;
    width: 50vi;
    height: 40vi;
    
    box-shadow: -0.5vi 0.5vi 1vi rgba(0, 0, 0, 0.533);
    overflow: hidden;
    rotate: y 15deg;
}

.news-box > div{
    position: relative;
    width: 100%;
}

.news-box > div:nth-child(1){
    position: relative;
    left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 200%;
    height: 55%;
    background-color: black;
    overflow: hidden;

    transition: 0.5s ease-in-out left;
}

.news-box > div:nth-child(1) > a {
    position: relative;
    text-decoration: none;
    color: white;
    font-size: 1.5vi;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}


.news-box > div:nth-child(1) > a > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.news-box > div:nth-child(1) > a > p{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 1vi;

    background-color: black;
    width: 100%;
    height: 100%;

    transition: 0.25s ease-in-out letter-spacing;
}

.news-box > div:nth-child(1) > a > p:hover{
    letter-spacing: 0.1vi;
}

.news-box > ul{
    position: absolute;
    right: 2vi;
    bottom: 54%;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vi;
    padding: 0.5vi;
    background-color: rgba(245, 222, 179, 0);
    outline: 0.2vi solid var(--orange);
    box-shadow: -0.3vi 0.2vi 0 0 rgb(156, 76, 1),inset -0.2vi 0.1vi 0 0 rgb(156, 76, 1);
    border-radius: 0.5vi;
    width: fit-content;
    height: fit-content;
    z-index: 1;
}



.news-box > ul > li{
    text-decoration: none;
    list-style-type: none;
    position: relative;
    background-color: gray;
    outline: 0.2vi solid rgb(208, 208, 208);
    outline-offset: 0.1vi;

    border-radius: 0.1vi;
    width: 1vi;
    height: 1vi;

    cursor: pointer;
    transform: translate(0, 0);
    box-shadow: 0 0 0 0vi rgb(208, 208, 208);
    transition: 0.25s ease-in-out background-color,  0.25s ease-in-out outline, 0.25s ease-in-out transform, 0.25s ease-in-out box-shadow;
}


.activated{
    transform: translate(0.3vi, -0.1vi) !important;
    box-shadow: -0.4vi 0.2vi 0 0vi rgb(156, 76, 1) !important;
    background-color: var(--orange) !important;
    outline: 0.2vi solid rgb(255, 212, 132) !important;
}


.news-box-news{
    position: relative;
    width: 100%;
    height: 45%;
    background: linear-gradient(30deg, rgb(24, 24, 24) 45%, rgb(51, 51, 51) 50%, rgb(24, 24, 24) 100%);
    background-size: 800% 800%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    animation: news-box3 10s ease infinite;
    transform: scale(1.01);
}

@keyframes news-box3 {
    0%{background-position:bottom 100% right 0%}
    100%{background-position:bottom 0% right 100%}
}


.news-box-news > div:nth-child(1){
    display: flex;
    justify-content: flex-start;
    padding-left: 2vi;
    width: 100%;
    height: 25%;
}

.news-box-news > div:nth-child(1) > ul{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2vi;
    list-style-type: none;
}
.news-box-news > div:nth-child(1) > ul > li{
    color: white;
    border-radius: 0.5vi;
    /* padding: 0.5vi 1vi; */
    width: 6vi;
    text-align: center;
    font-size: 1.7vi;
    font-weight: bolder;
    font-smooth: smooth;

    transition-duration: 0.25s;
    transition-property: color, background-color;
    transition-timing-function: ease-in-out;
    cursor: pointer;
}

.news-box-news > div:nth-child(1) > ul > li:hover{
    color: black;
    background-color: var(--orange);
}

.liActivator {
    color: black !important;
    background-color: var(--orange) !important;
}

.news-box-news > div:nth-child(2){
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 1vi;
    padding:  0.2vi 2vi;

    overflow-y: auto;
}

.news-box-news > div:nth-child(2)::-webkit-scrollbar {
    display: flex !important;
}

/* Customize the scrollbar thumb */
.news-box-news > div:nth-child(2)::-webkit-scrollbar-thumb {
    border-radius: 0.3vi;
    width: 2vi;
    background: var(--orange);
}

.news-box-news > div:nth-child(2) > div{
    width: 100%;
    height: 100%/3;
    color: white;
    font-size: 1.3vi;
    white-space: nowrap;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1vi;
    padding-bottom: 0.5vi;
    border-bottom: 0.15vi solid grey;
    cursor: pointer;
}

.news-box-news > div:nth-child(2) > div:nth-last-child(1){
    border: none;
}

.news-box-news > div:nth-child(2) > div > span:nth-child(1){
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.2vi 1vi;
    border-radius: 0.5vi;
    color: black;
    background-color: var(--orange);
    cursor: pointer;
    z-index: 1;

    transition-duration: 0.25s;
    transition-property: padding;
    transition-timing-function: ease-in-out;
}

.news-box-news > div:nth-child(2) > div > span:nth-child(1)::before{
    content: '⇀';
    position: absolute;
    left: 1vi;
    top: 0.8vi;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1vi;
    margin-right: 1vi;
    font-size: 2vi;
    font-weight: bolder;
    opacity: 0;

    transition-duration: 0.25s;
    transition-property: opacity;
    transition-timing-function: ease-in-out;
}

.news-box-news > div:nth-child(2) > div:hover > span:nth-child(1){
    padding-left: 3vi;
}

.news-box-news > div:nth-child(2) > div:hover > span:nth-child(1)::before{
    opacity: 1;
}
.news-box-news > div:nth-child(2) > div > span:nth-child(2){
    width: 100%;
}

.news-box-news > div:nth-child(2) > div > span:nth-child(3){
    margin-left: auto;
    color: grey;
}