:root{
    --orange: #F88C39;
    --grey: #9F9F9F;
}



.mainSection{
    position: absolute;
    top: 0;
    width: 100%;
    height: 225vi;
    z-index: -1;
    background: #0a0603 url(https://www.projectmugen.com/pc/gw/20230811194459/assets/bg_e1378b84.jpg) center top no-repeat;
    background-size: cover;
    overflow: hidden;
}



.cardOne{
    position: absolute;
    top: 14vi;
    background: url('https://www.projectmugen.com/pc/gw/20230811194459/assets/role-card-bg_e92f2497.png') no-repeat left top;
    background-size: cover;
    width: 96%;
    height: 88vi;

    pointer-events: none;
}


#cardId{
    position: absolute;
    bottom: 0;
    right: 0.3vi;

    border-radius: 1vi;
    width: 96%;
    height: 36.5vi;
    overflow: hidden;
}

.numberIdentifier{
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    color: var(--orange);
    font-size: 6vi;
    opacity: 0;

    transition: 0.25s ease-in-out opacity, 0.25s ease-in-out transform;
    z-index: 1;
}

.numberIdentifier__active{
    opacity: 1;
    transform: translateX(-10vi);
}

.numberIdentifier > p{
    position: relative;
    right: -5vi;
    margin-top: -6vi;
    font-size: 3vi;
    transition: 0.25s ease-in-out right;
}


.role_cards{
    position: absolute;
    right: 0;
    top: 0;
    background-size: cover;
    width: fit-content;
    height: 100%;
    
    transition: 0.25s ease-in-out opacity;
    
}

.cards_in{
    opacity: 1;
}

.cards_out{
    opacity: 0;
}

.cardSliderGrandDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vi;
    position: absolute;
    bottom: -7vi;
    padding-left: 12vi;
    width: 100%;
    z-index: 2;
}
.cardSlider{
    position: relative;
    background: url('https://www.projectmugen.com/pc/gw/20230811194459/assets/role-bg_d5f1d448.png') no-repeat center;
    background-size: cover;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    transform: translateY(5vi);
    opacity: 0;
    width: 40vi;
    height: 32vi;
    z-index: 1;

    transition-duration: 0.5s;
    transition-property: opacity, transform;
    transition-timing-function: ease-in-out;
}

.cardActivator{
    transform: translateY(0vi) !important;
    opacity: 1 !important;
}

.cardSlider > div{
    position: absolute;
    bottom: 0.8vi;
    border-radius: 1vi;
    
    width: 95%;
    height: 45vi;
    overflow: hidden;
}
.cardSlider > div > img{
    position: absolute;
    height: 100%;
    width: 150%;
    object-position: 0vi;
    object-fit: cover;
    opacity: 0;
    transition: 0.5s ease-in-out opacity, 0.5s ease-in-out object-position;
}

.cardSliderImgActivator{
    object-position: -18vi !important;
    opacity: 1 !important;
}

.cardSliderController{
    align-self: flex-end;
    width: 35vi;
    height: 15vi;
    margin-bottom: 1vi;
    z-index: 3;
}

.cardSliderController > h1{
    width: fit-content;
    padding: 0 1vi;
    font-size: 3vi;
    border-radius: 0.5vi;
    background-color: var(--orange);
}

.container{ /*container*/
    position: relative;
    margin-top: 1vi;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5vi;


    perspective: 30vi;
}

.arrows{
    width: fit-content;
    height: fit-content;
    pointer-events: none;
}

.container > button{
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    width: 4vi;
    height: 3vi;
    font-size: 2vi;
    background-color: black;
    border: 0.3vi solid white;
    border-radius: 0.5vi;
    color: white;
    cursor: pointer;
    pointer-events: stroke;
    
    transition: 0.1s ease-in-out border-color, 0.25s ease-in-out color, 0.1s ease-in-out font-size, 0.25s ease-in-out rotate;
}

.container > button:nth-child(1):hover{
    rotate: y 60deg;
}
.container > button:nth-child(3):hover{
    rotate: y -60deg;
}

.container > button:hover{
    border-color: var(--orange);
    color: var(--orange);
}


.container > button:active{
    font-size: 1.5vi ;
}

.carousel{ /*carousel*/
    position: relative;
    margin-left: 0.5vi;
    /* top: 5vi; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 62%;
    height: 7vi;
    
    overflow: hidden;
}

.slider{ /*slider*/
    width: 31%;
    position: absolute;
    display: flex;
    justify-content: flex-start;
    gap: 1vi;
    transform: translate(-110%);
    transition: 0.25s ease-in-out transform;
}

.slider > div{ 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 31%;
    flex-shrink: 0;
    flex: 1;

    border-radius: 0.5vi;
    padding: 0.5vi 0.2vi;
    background: linear-gradient(90deg, #F9993F, #FAC05B);
    width: fit-content;
    
    pointer-events: visible;
    cursor: pointer;
}

.slider > div > img{
    border-radius: 0.5vi;
    width: 6vi;
    pointer-events: none;
}

.stripsController{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 80vi;
    width: 100%;
    height: 100vi;
    overflow: hidden;
}

.Strips, .Strips2{
    position: absolute;
    top: 20vi;
    left: -12vi;
    width: 150%;
    height: 10vi;
    overflow-x: hidden ;

    z-index: 1;
}

.Strips{
    -webkit-transform: rotate(10deg);
    transform: rotate(15deg);
}

.Strips > div , .Strips2 > div, .Strips3 > div{
    transform: translateX(0px);
    background: url('https://www.projectmugen.com/pc/gw/20230811194459/assets/cordon_0d65ee20.png') no-repeat center;
    background-size: cover;
    width: 600vi;
    height: 10vi;
}

.Strips2{
    -webkit-transform: rotate(-25deg);
    transform: rotate(-20deg);
}

.Strips3{
    position: absolute;
    top: 65vi;
    left: -12vi;
    width: 150%;
    height: 10vi;
    overflow-x: hidden ;
    z-index: 1;
}

.Strips3{
    -webkit-transform: rotate(18deg);
    transform: rotate(18deg);
}