#CardThree{
    position: relative;
    margin-top: -10vi;
    background-image: url('https://www.projectmugen.com/pc/gw/20230811194459/assets/bg_3936585b.webp');
    background-position: center 430%;
    background-repeat: no-repeat;
    background-size: contain;

    height: 50vi;
    overflow: hidden;
}


.numberIdentifier3{
    position: absolute;
    top: 10vi;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    color: var(--orange);
    font-size: 6vi;
    opacity: 0;

    transition: 0.25s ease-in-out opacity, 0.25s ease-in-out transform;
    z-index: 1;
}

.numberIdentifier3 > p{
    position: relative;
    right: -5vi;
    margin-top: -6vi;
    font-size: 3vi;
    transition: 0.25s ease-in-out right;
}

.numberIdentifier3__active{
    opacity: 1;
    transform: translateX(-10vi);
}



