:root{
    --orange: #F88C39;
    --grey: #9F9F9F;
}


.Header{
    position: relative;
    overflow: hidden ;
    width: 100%;
    height: 102vi;
}

/* background section */

.Header > div:nth-child(1){
    position: absolute;
    top: 0;
    left: -2%;
    background-image: url('https://www.projectmugen.com/pc/gw/20230811194459/assets/index-bg_656d721b.webp');
    background-repeat: no-repeat;
    background-size: cover;
    width: 105%;
    height: 100%;
    cursor: pointer;
}

.Header > div:nth-child(2){
    position: absolute;
    left: -3%;
    background-image: url('https://www.projectmugen.com/pc/gw/20230811194459/assets/index-bg-bottom_028af7fa.webp');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
    width: 100%;
    height: 100%;
}

.triangle{
    position: absolute;
    top: 34.2vi;
    left: 26.5vi;
    width: 1vi;
    height: 1vi;
    animation: pump 2s infinite;
    cursor: pointer;
    z-index: 100;
}

.triangle:hover{
    color: white ;
}

@keyframes pump {
    0%{ transform: scale(1.2) rotate3d(27, -4, 30, 60deg); }
    50%{ transform: scale(0.8) rotate3d(27, -4, 30, 60deg); }
    100%{ transform: scale(1.2) rotate3d(27, -4, 30, 60deg); }
}

#cv{
    position: absolute;
    top: 22vi;
    left: 31vi;
    outline: 2px solid red;
    width: 10vi;
    height: 10vi;
}

.textInsideBG2{
    position: absolute;
    top: 34.2vi;
    left: 26.5vi;
    font-size: 1.4vi;
    transform: rotateZ(-25deg) rotateY(30deg) rotateX(-30deg);
}

.textInsideBG2 > h3{
    margin-bottom: -1vi;
}

.textInsideBG2 > h1{
    color: rgba(0, 0, 0, 0.508);
    text-shadow: 0 0 5px  rgba(0, 0, 0, 0.589);
    font-size: 2.3vi;    
    z-index: 10 !important;
}


.numBg{
    position: absolute;
    top:3vi !important;
    left: 0.5vi;
    font-weight: bolder;
    color: var(--orange) !important;
    z-index: -1 !important;
}

/* background section */

/* background section paper*/

.Header > div:nth-child(2) > div > div:nth-child(1){
    position: absolute;
    top: 36vi;
    background-image: url('https://www.projectmugen.com/pc/gw/20230811194459/assets/parallax-1_7fb01536.webp');
    background-repeat: no-repeat;
    background-position: 80% 45%;
    background-size: 60%;
    width: 100%;
    height: 40vi;
}

.Header > div:nth-child(2) > div > div:nth-child(2){
    position: absolute;
    top: 36vi;
    background-image: url('https://www.projectmugen.com/pc/gw/20230811194459/assets/parallax-2_53fe9cda.webp');
    background-repeat: no-repeat;
    background-position: 30% 30%;
    background-size: 60%;
    width: 100%;
    height: 40vi;
}
.Header > div:nth-child(2) > div > div:nth-child(3){
    position: absolute;
    top: 36vi;
    background-image: url('https://www.projectmugen.com/pc/gw/20230811194459/assets/parallax-3_72ed49a9.webp');
    background-repeat: no-repeat;
    background-position:  20% 35%;
    background-size: 60%;
    width: 100%;
    height: 40vi;
}
.Header > div:nth-child(2) > div > div:nth-child(4){
    position: absolute;
    top: 36vi;
    background-image: url('https://www.projectmugen.com/pc/gw/20230811194459/assets/parallax-4_eb50ceb2.webp');
    background-repeat: no-repeat;
    background-position: -30% 50%;
    background-size: 100%;
    width: 100%;
    height: 40vi;
}

.Header > div:nth-child(2) > div > div{
    transition: 0.25s ease-in-out top;
}

/* background section paper*/




/* registration BTN */

.registrationBtn{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0.5vi;
    top: 30vi;
    right: 12.5vi;
    width: 16vi;
    height: 16vi;
    font-size: 6vi;
    background-image: url('../../../imgs/drawing.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: var(--orange);
    border-radius: 50%;

    cursor: pointer;
    transition: 0.25s ease-in-out transform;
}

.registrationBtn:hover{
    transform: scale(1.05);
}

.bendedArrow{
    animation-name: beat;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes beat{
    from{transform: scale(1.1)}
    to{transform: scale(0.9)}
}

.bendedArrowIncrease{
    transform: scale(1.1) ;
}

/* registration BTN */

/* registration DIV */

.RegistrationDiv{
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.751);
    z-index: 10;
}

.RegistrationDiv > form > span{
    position: absolute;
    top: 2vi;
    right: 0;
    /* align-self: flex-end; */
    margin-right: 3vi;
    cursor: pointer;
    transition: 0.1s ease-in-out transform
}

.RegistrationDiv > form > span > span{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 2vi;
    height: 2vi;
    transition: 0.5s ease-in-out transform;
}

.RegistrationDiv > form > span > span > div{
    position: absolute;
    width: 100%;
    height: 0.5vi;
    border-radius: 1vi;
    background-color: black;

    transition: 0.25s ease-in-out transform;
}

.RegistrationDiv > form > span:active{
    transform: scale(0.8);
}

.RegistrationDiv > form > span:hover > span{
    transform: rotateZ(315deg);
}
.RegistrationDiv > form > span:hover > span > div:nth-child(1){
    transform: rotateZ(90deg);
}

.RegistrationDiv > form{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2vi;
    padding: 1vi;
    width: 33.3vi !important;
    min-height: 30vi;
    background: url(https://www.projectmugen.com/pc/gw/20230811194459/assets/bg_876084b1.png) center center no-repeat;
    background-size: contain;
}

.RegistrationDiv > form > h1 {
    font-size: 2vi;
    font-weight: bolder;
    color: var(--orange);
}

.RegistrationDiv > form > h5 {
    /* margin: -1vi -1vi !important; */
    font-size: 1.3vi !important;
    color: var(--grey);
}

.RegistrationDiv > form > input[type=email]{
    background-color: transparent;
    outline: none;
    border: 0.15vi solid var(--grey);
    border-radius: 0.5vi;
    font-size: 1.3vi;
    color: var(--grey);
    padding: 0.7vi 1vi;
    width: 83%;
}

.RegistrationDiv > form > div > input[type=submit]{
    outline: none;
    border: none;
    padding: 0.5vi 6vi;
    font-size: 2vi;
    font-weight: bolder;
    border-radius: 0.5vi;
    background: linear-gradient(90deg, #F9993F, #FAC05B);
    cursor: pointer;
    transition: 0.2s ease-in-out transform;
}

.RegistrationDiv > form > div > input[type=submit]:hover{
    transform: scale(1.05);
}

.RegistrationDiv > form > div > input[type=submit]:active{
    transform: scale(0.9);
}

.RegistrationDiv > form > div{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.RegistrationDiv > form > div > div{
    position: absolute;
    top: 1.5vi;
    left: 5.7vi;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3vi;
    height: 3vi;
}
.RegistrationDiv > form > div > div > span{
    position: absolute;
    transform: rotateZ(45deg) ;
    padding: 0.6vi;
    border-radius: 0.2vi;
    background-color: black;
    transition: 0.5s ease-in-out top left right bottom;
}

.RegistrationDiv > form > div > div > span:nth-child(2){
    right: 1vi; bottom: 2vi;
    background-color: #5f5f5f;
    animation: loadingCub2 5s infinite;
    animation-delay: 2s;
}
.RegistrationDiv > form > div > div > span:nth-child(1){
    bottom: 3vi; right: 2vi;;
    background-color: #5f5f5f;
    animation: loadingCub1 5s infinite;
    animation-delay: 1.5s;
}
.RegistrationDiv > form > div > div > span:nth-child(3){
    bottom: 2vi; right: 3vi;
    background-color: #272727;
    animation: loadingCub3 5s infinite;
}

@keyframes loadingCub1 {
    0%{bottom: 3vi; right: 2vi;}
    25%{right: 1vi; bottom: 2vi;}
    50%{bottom: 1vi; right: 2vi;}
    75%{bottom: 2vi; right: 3vi;}
    100%{right: 2vi; bottom: 3vi;}
}
@keyframes loadingCub2 {
    0%{right: 1vi; bottom: 2vi;}
    25%{bottom: 1vi; right: 2vi;}
    50%{bottom: 2vi; right: 3vi;}
    75%{bottom: 3vi; right: 2vi;}
    100%{right: 1vi; bottom: 2vi;}
}
@keyframes loadingCub3 {
    0%{right: 3vi; bottom: 2vi;}
    25%{bottom: 3vi; right: 2vi;}
    50%{bottom: 2vi; right: 1vi;}
    75%{bottom: 1vi; right: 2vi;}
    100%{right: 3vi; bottom: 2vi;}
}


/* registration DIV */

/* video pop up settings */

.video-pop-up{
    position: fixed;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.661);
    z-index: 1000;
}

.video-pop-up > div{
    overflow: hidden;
    width: fit-content;
    height: 0;
    opacity: 0;
    border-radius: 1vi;
    transition: 0.5s ease-in-out all;
}

.vid_height_mod{
    opacity: 1 !important;
    height: 68% !important;
}

.video-pop-up > div > video{
    width: 60vi;
    height: fit-content;
    transition: 0.2s ease-in-out width;
}

/* video pop up settings */