
:root {
    --pggrey: #858585;
    --pgorange: #F88B35;
  }

/* NAV BAR START ------------------------------------------------------------------------*/

nav {
    background-color: black;
    color: white;

    position: fixed;
    width: 100%;
    height: 5vi;

    display: flex;
    justify-content: space-between;
    padding: 0 1vi ; /* Use 3vw instead of 3vi */
    align-items: center;
    z-index: 90;
}

.logoHolder{
    cursor: pointer;
}

.logo1{
    position: absolute;
    top: 1vi;
    left: 8vi;
    width: 9vi;
    height: fit-content;
    opacity: 0;
    transition: 0.2s ease-in-out opacity, 0.4s ease-in-out transform;
}

.logo2{
    position: absolute;
    left: 3vi;
    width: 18vi;
    height: fit-content;
    opacity: 1;
    transform: scale(1);
    transition: 0.2s ease-in-out opacity, 0.4s ease-in-out transform;
}




/* ------------------------NAV MENU------------------------*/

nav > div:nth-child(2){
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vi;
    margin-right: 11vi;
}

nav > div > ul {
    position: relative;
    list-style-type: none;
    display: flex;
    gap: 1vi;
    height: 2.2vi;
    font-family: 'SourceHanSansCN-b', "Microsoft YaHei", sans-serif;
    font-weight: bolder;
    font-size: 1.15vi;
    color: var(--pggrey);

    
}
nav > div > ul > li {
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    white-space: nowrap;
    width: 11vi;
    padding: 0.3vi 1.5vi;
    font-size: 1.5vi;
    letter-spacing: 0.1vi;

    cursor: pointer;
    user-select: none;

    /* properties with combined transition */
    transition: 0.2s ease-in-out transform, 0.2s ease-in-out color, 0.2s ease-in-out  background-color;
    z-index: 2;
}

 nav > div > ul > li:hover{
     color: white;
    }
    
.liActivated{
    /* background-color: var(--pgorange); */
    color: #27312A !important;
    transform: scale(1.1);
 }


.menuBtnCover{
    position: absolute;
    border-radius: 0.7vi;
    background-color: var(--pgorange);
    width: 11vi;
    height: 100%;
    z-index: 1;
    transition: 0.20s ease-in-out left;
 }

.menuBtnCover.animateNav{
    animation: smallMove 0.2s ease;
}

@keyframes smallMove {
    0% { transform: scale(0.8);}
    50% { transform: translateX(-3vi) translateY(-0.1vi); }
    100% { transform: scale(1) translateX(0vi);}
}

.navBgBk{
    position: fixed;
    width: 100%;
    height: 16vi;
    top: 0;
    background-image: url('https://www.projectmugen.com/pc/gw/20230811194459/assets/nav-decoration_b1df2b95.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: 0.2s top ease-in-out; 
    z-index: 1;

}

/* ------------------------NAV MENU------------------------*/



/* ------------------------NAV BUTTONS------------------------*/

nav > div:nth-child(2) > div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vi;
}

.menuBTN{
    display: flex;
    justify-content: center;
    align-items: center;

    width: fit-content;
    height: fit-content;
    
    font-size: 2.5vi;
    border-radius: 0.5vi;
    background-color: var(--pggrey);
    border: none;

    cursor: pointer;

    transition: 0.25s ease-in-out background-color, 0.25s ease-in-out transform;
}

.menuBTN:hover{
    transform: scale(1.1);
    background-color: var(--pgorange);
}

.menuBTN:active{
    transform: scale(0.9);
    transition: 0.1s ease-in-out transform;
}

/* ------------------------NAV BUTTONS------------------------*/


/* NAV BAR END --------------------------------------------------------------------------*/
