.Footer{
    width: 100%;
    padding: 3vi 0;
    background-color: black;
}

.Footer > div{
    max-width: 80vi;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vi;
    color: white;
}

.Footer > div > img{
    width: 8vi;
}

.Footer > div > div > p > a {
    color: white;
}