*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Kanit', sans-serif;
    font-family: 'Teko', sans-serif;

}
::-webkit-scrollbar{
    display: none;
}

body{
    background-color: rgb(54, 54, 54);
}


/* html{
    scroll-behavior: smooth;
} */
